    <h2>Inscription à web-DPO</h2>

    Un compte a été créé pour vous sur web-DPO. Voici vos identifiants:
    <br/><br/>
    <b>Nom d'utilisateur: </b><?php echo $username; ?>
      <br/><br/>
    <b>Mot de passe: </b><?php echo $pass; ?>
</div>

