.toast {
    padding: 10px;
}

.flashsuccess {
    color: var(--white) !important;
    border-color: var(--success) !important;
    background-color: var(--success) !important;
    right: 0;
    position: fixed;
    z-index: 20;
}

.flasherror {
    color: var(--white) !important;
    border-color: var(--danger) !important;
    background-color: var(--danger) !important;
    right: 0;
    position: fixed;
    z-index: 20;
}

.flashinfo {
    color: var(--white) !important;
    border-color: var(--info) !important;
    background-color: var(--info) !important;
    right: 0;
    position: fixed;
    z-index: 20;
}

.flashwarning {
    color: var(--white) !important;
    border-color: var(--warning) !important;
    background-color: var(--warning) !important;
    right: 0;
    position: fixed;
    z-index: 20;
}
