/* https://gitlab.libriciel.fr/libriciel/pole-citoyens/web-DPO/web-DPO/-/issues/498 */
/* Reset */
.navbar-custom a,.navbar-custom div,.navbar-custom i,.navbar-custom li,.navbar-custom ul,
.navbar-custom a:active,.navbar-custom div:active,.navbar-custom i:active,.navbar-custom li:active,.navbar-custom ul:active,
.navbar-custom a:focus,.navbar-custom div:focus,.navbar-custom i:focus,.navbar-custom li:focus,.navbar-custom ul:focus,
.navbar-custom a:hover,.navbar-custom div:hover,.navbar-custom i:hover,.navbar-custom li:hover,.navbar-custom ul:hover,
.navbar-custom.navbar-dark .navbar-nav .nav-link:focus,
.navbar-custom.navbar-dark .navbar-nav .nav-link:hover,
.navbar-custom.navbar-expand-md .navbar-nav .nav-link {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: var(--ls-primary-700) !important;
    top: 40px;
    z-index: 20;
}

/* Premier niveau, dans la barre */
.navbar-custom ul.navbar-nav > li {
    /*display: inline-block;*/
    margin-right: 1em;
}

.navbar-custom ul.navbar-nav > li > a {
    /*display: inline-block;*/
    padding: 0 0.5em!important;
    line-height: 40px;
}

.navbar-custom ul.navbar-nav > li > a > i {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.navbar-custom ul.navbar-nav > li:hover {
    background-color: var(--ls-primary-600);
}

/* Second niveau, menu déroulant */
.fa-empty::before {
    content: " ";
}

.navbar-custom ul.navbar-nav > li ul {
    background-color: var(--ls-primary-600);
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
}
.navbar-custom ul.navbar-nav > li ul li a {
    padding: 10px 20px 10px 1em;/*@fixme*/
}
.navbar-custom ul.navbar-nav > li ul li:hover {
    background-color: var(--ls-primary-500);
}
.navbar-custom ul.navbar-nav .dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.navbar-custom ul.navbar-nav ul i {
    margin-right: 0.25em;
}
li.dropdown-submenu > a::after {
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 0.5em;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-left: 0.3em solid;
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
}
/* Troisième niveau, sous-menu déroulant */
.navbar-custom .dropdown-submenu {
    position: relative;
}

.navbar-custom .dropdown-submenu > .dropdown-menu {
    left: 100%;
    margin-top: -2.75rem;
    margin-left: -1px;
}

.navbar-custom .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
