/* Force des mots de passe */
.alert-force1 {
    background-image: -webkit-linear-gradient(top, #FAD1CE 0, #EF746B 100%);
    background-image: linear-gradient(to bottom, #FAD1CE 0, #EF746B 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAD1CE', endColorstr='#EF746B', GradientType=0);
    border-color: #FAD1CE
}
.alert-force2 {
    background-image: -webkit-linear-gradient(top, #FFEECD 0, #FFCD68 100%);
    background-image: linear-gradient(to bottom, #FFEECD 0, #FFCD68 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEECD', endColorstr='#FFCD68', GradientType=0);
    border-color: #FFEECD
}
.alert-force3 {
    background-image: -webkit-linear-gradient(top, #FFF8CE 0, #FFEC6C 100%);
    background-image: linear-gradient(to bottom, #FFF8CE 0, #FFEC6C 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8CE', endColorstr='#FFEC6C', GradientType=0);
    border-color: #FFF8CE
}
.alert-force4 {
    background-image: -webkit-linear-gradient(top, #D6EEDA 0, #83CB91 100%);
    background-image: linear-gradient(to bottom, #D6EEDA 0, #83CB91 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6EEDA', endColorstr='#83CB91', GradientType=0);
    border-color: #D6EEDA
}
.alert-force5 {
    background-image: -webkit-linear-gradient(top, #ADDDB5 0, #5ABA6C 100%);
    background-image: linear-gradient(to bottom, #ADDDB5 0, #5ABA6C 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ADDDB5', endColorstr='#5ABA6C', GradientType=0);
    border-color: #ADDDB5
}

/* Taille de la barre de selection */
body .slider.slider-horizontal {
    width: 40em;
}

/* Force très faible */
body .slider-track.password-force-1 .slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom, #FAD1CE 0, #EF746B 100%);
}
body .slider-handle.round.password-force-1 {
    background: red;
}

/* Force faible */
body .slider-track.password-force-2 .slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom, #FFEECD 0, #FFCD68 100%);
}
body .slider-handle.round.password-force-2 {
    background: orange;
}
body .slider-tick.round.in-selection.password-force-2 {
    background-image: linear-gradient(to bottom, #FFEECD 0, #FFCD68 100%);
}

/* Force moyen */
body .slider-track.password-force-3 .slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom, #FFF8CE 0, #FFEC6C 100%);
}
body .slider-handle.round.password-force-3 {
    background: yellow;
}
body .slider-tick.round.in-selection.password-force-3 {
    background-image: linear-gradient(to bottom, #FFF8CE 0, #FFEC6C 100%);
}

/* Force fort */
body .slider-track.password-force-4 .slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom, #D6EEDA 0, #83CB91 100%);
}
body .slider-handle.round.password-force-4 {
    background: #83CB91;
}
body .slider-tick.round.in-selection.password-force-4 {
    background-image: linear-gradient(to bottom, #D6EEDA 0, #83CB91 100%);
}

/* Force très fort */
body .slider-track.password-force-5 .slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom, #ADDDB5 0, #5ABA6C 100%);
}
body .slider-handle.round.password-force-5 {
    background: #5ABA6C;
}
body .slider-tick.round.in-selection.password-force-5 {
    background-image: linear-gradient(to bottom, #ADDDB5 0, #5ABA6C 100%);
}

.progress-bar-password-force-1 {
    background-image: -webkit-linear-gradient(top, #FAD1CE 0, #EF746B 100%);
    background-image: linear-gradient(to bottom, #FAD1CE 0, #EF746B 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAD1CE', endColorstr='#EF746B', GradientType=0)
}

.progress-bar-password-force-2 {
    background-image: -webkit-linear-gradient(top, #FFEECD 0, #FFCD68 100%);
    background-image: linear-gradient(to bottom, #FFEECD 0, #FFCD68 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEECD', endColorstr='#FFCD68', GradientType=0)
}

.progress-bar-password-force-3 {
    background-image: -webkit-linear-gradient(top, #FFF8CE 0, #FFEC6C 100%);
    background-image: linear-gradient(to bottom, #FFF8CE 0, #FFEC6C 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8CE', endColorstr='#FFEC6C', GradientType=0)
}

.progress-bar-password-force-4 {
    background-image: -webkit-linear-gradient(top, #D6EEDA 0, #83CB91 100%);
    background-image: linear-gradient(to bottom, #D6EEDA 0, #83CB91 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6EEDA', endColorstr='#83CB91', GradientType=0)
}

.progress-bar-password-force-5 {
    background-image: -webkit-linear-gradient(top, #ADDDB5 0, #5ABA6C 100%);
    background-image: linear-gradient(to bottom, #ADDDB5 0, #5ABA6C 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ADDDB5', endColorstr='#5ABA6C', GradientType=0)
}

#theorie .strength-very-weak.highlight {
    background: #EF746B;
}
#theorie .strength-weak.highlight {
    background: #FFCD68;
}
#theorie .strength-medium.highlight {
    background: #FFEC6C;
}
#theorie .strength-strong.highlight {
    background: #83CB91;
}
#theorie .strength-very-strong.highlight {
    background: #5ABA6C;
}