body {
	/*margin: 60px 0 0 0; !* haut | droit | bas | gauche *!*/
    font-family: Ubuntu;
    padding-top: 105px;
}

.container-fluid-custom {
    margin-left: 5%;
    margin-right: 5%;
}

.head {
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-bottom: 1px solid #d3d3d3;
}

.fixed-top {
    height: 40px;
}

.card-link {
    color: white !important;
}

.card-header{
    background-color: var(--ls-primary-600) !important;
    color: white !important;
}

.card {
    margin-bottom: 20px;
}

.checks-link {
    color: var(--ls-primary-600) !important;
}

.checks-header{
    background-color: white !important;
    color: white !important;
}

.forScroll.fixedScroll {
    top: 85px;
    position: fixed;
    z-index: 1;
}

.forScroll {
    background-color: var(--ls-grey-100);
}

/*ul.nav.nav-tabs > li.nav-item > a.active.is-invalid {*/
/*    color: #a94442;*/
/*}*/

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.bg-info {
    background-color: var(--ls-primary-300) !important;
}

.bg-success {
    background-color: var(--ls-success-300) !important;
}

.bg-warning {
    background-color: var(--ls-warning-300) !important;
}

.bg-danger {
    background-color: var(--ls-danger-300) !important;
}

.trChecked {
    background-color: var(--ls-primary-300) !important;
}

#container {
    margin-bottom: 100px !important;
}

.btn-primary-card {
    color: var(--ls-primary-600);
    background-color: var(--white);
    border-color: var(--ls-primary-700);

}
.btn-primary-card:hover {
    color: var(--white);
    background-color: var(--ls-primary-700);
    border-color: var(--ls-primary-800);
}

#SqlDumpToggler {
    color: white;
    text-decoration: underline;
}

.borderless {
    border-color: transparent !important;
}
